
{% block nav %}

<style>
  
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #f3f3f3;
}

.nav-link {
  color: #9d6f4d !important;
  font-size: 20px !important;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width:576px) {
  .topnav a {
  padding-left: 15px;
  margin-left: 15px;
  font-size: 20px !important;
  }
}

@media screen and (max-width:381px) {
  .nav-search-button {
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .topnav a {
  margin-left: 40px;
  }
}

@media screen and (min-width: 992px) {
  .topnav a {
    margin-left: 0px;
  }

  .topnav {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 992px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    color: #9d6f4d;
  }
}

@media screen and (max-width: 992px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .login-position {
    float: right;
  }
}

</style>

</head>

<body>

  <nav class="sticky-top">

    <div class="topnav" id="myTopnav">

        <a href="/" class="nav-link"> Whiskey List <span class="sr-only">(current)</span></a>

        <a href="{% url 'about' %}" class="nav-link">About</a>

        <a href="{% url 'contact' %}" class="nav-link">Contact Us</a>

        <a>

            <form action="{% url 'search' %}" method="GET">

                <input type="text" placeholder="Search" aria-label="Search" name="q" required
                value={{ request.GET.q }}>

                <button class="nav-search-button btn btn-success" type="submit">Search</button>

            </form>

        </a>

        {% if user.is_authenticated %}

        <a class="nav-link" href="{% url 'logout' %}">Logout</a>

        {% else %}

        <a class="nav-link login-position" href="{% url 'login' %}">Login</a>
        <a class="nav-link login-position" href="{% url 'registration'%} ">Register</a>

        {% endif %}

        <a href="{% url 'view_cart' %}" class="nav-link login-position cart-link cart-logo">

            <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>

            {% if product_count > 0 %}

                <label class="badge badge-warning">{{ product_count }}</label>

            {% endif %}

        </a>

      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </nav>


<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

</body>

{% endblock %}